* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', 'sans-serif';
  user-select: none;
}

*::-webkit-scrollbar {
  position: relative;
  z-index: 3000;
  background-color: #ddddddb4;
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 10px;
  background: linear-gradient(left, #212121, #323232);
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #202020d0;
}
*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(left, #555555, #4e4e4e);
}

body,
html {
  width: 100%;
  height: 100%;
}

#root {
  max-width: 100vw;
  min-height: 100vh;
  min-width: 300px;
  overflow: hidden;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1500px;
  margin: auto;
  min-width: 280px;
  justify-content: center;
  align-items: center;
}

.background-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
